<div class="max-w-[1240px] w-full mx-auto text-center">
    <h1 class="bg-gradient-to-r from-[#f313ec] to-[#03e9f4] text-transparent  bg-clip-text text-5xl font-extrabold">Which Anime Has More Fans?</h1>
    <p class="text-slate-400 text-lg max-w-[468px] w-full mt-4 mx-auto">Test your knowledge about anime poularity based on MyAnimeList members!</p>
    <button id="start-game" class="px-6 py-2 border border-[#03e9f4] rounded-sm text-white text-xl bg-[#d500ff] mt-6
    hover:shadow-2xl 
    hover:shadow-glow-blue">
        START GAME
    </button>
</div>